<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                Asp.Net Core App
            </div>
            <ul>
                <li><a href="~/">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Products">Products</a></li>
                <li><a href="~/Products/About">About Products</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
</body>
@RenderSection("Scripts", required: false)
</html>
