<div class="list-container">
    <h3>Cities</h3>
    <div class="">
        <ul class="list">
            @foreach(var item in Model)
            {
                <li>@item?.CountryName</li>
            }
        </ul>
    </div>
</div>